:root {
  --main-bg-color: black;
  --text-color: #e7f7ff;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--main-bg-color); /* backmost background color*/
  color: var(--text-color)
}

div.information-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#status, #contact, #skills, #work, #projects {
  /* background: var(--text-color); */
  display: none;
  height: 50%;
  width: 50%;
}

table, th, tr, td {
  /* border: 5px solid green; */
}

