:root {
  --main-bg-color-gradient: linear-gradient(to bottom, rgb(241, 241, 191), #1a7cc7);
  --main-bg-color: #cdffff;
  --div-bg-color: #1a7cc7;
  --text-color: #e7f7ff;
}

body,
html {
  text-align: center;
  align-content: center;
  vertical-align: center;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--text-color);
  background-color: var(--main-bg-color); /* backmost background color*/
  background-image: var(--main-bg-color-gradient);
}

div {
  border-style: unset;
  border-color: crimson;
  border-width: 1px;
  border-radius: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: 18% auto 18%;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  padding: 5px;
  font-size: 30px;
}

.grid-container > div {
  background-color: var(--div-bg-color);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.header {
  grid-column-start: 0;
  grid-column-end: 3;
}

.grid-container .navbar {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 0px;
}

.leftside,
.rightside {
  grid-row-start: 3;
  grid-row-end: 10;
}

.rightside {
  grid-column-start: 3;
}

.content {
  grid-row-start: 3;
}
