@import url("index.css");

ul {
  background: darkorange;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 0px 10px;
}

li:hover {
  background: var(--nav-bg-color);
  cursor: pointer;
}

ul li ul {
  background: var(--div-bg-color);

  float: right;
  position: absolute;
  padding: 0 2rem;
  display: none;
}

ul li:hover > ul {
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
